@model SnookerTrainingCore.Domain.Entidades.Templates.TreinoTemplate;

<link href="~/css/styles/cadastrar-categoria.css" rel="stylesheet" />
<div id="page-form" class="container">
    <main>
        <fieldset>
            <legend>Cadastrar Treino</legend>            
            <form asp-action="Adicionar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdTreino" />
                <div class="input-block">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="input-block">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <footer>
                    <div>
                        <a asp-action="Index">Voltar</a>
                    </div>                    
                    <div class="input-block">
                        <button type="submit" value="Salvar">Salvar</button>
                    </div>
                </footer>
            </form>
        </fieldset>
    </main>
</div>

