@model IEnumerable<SnookerTrainingCore.Domain.Entidades.Categoria>;

<link href="~/css/styles/listar-categoria.css" rel="stylesheet" />

<div id="page-form" class="container">
    <main>
        <div class="top">
            <div class="input-block">
                <a type="button" asp-controller="RotinaTemplate" asp-action="Index" id="btn-add">Rotinas Template</a>
            </div>
        </div>
        <div class="top">
            <div class="input-block">
                <a type="button" asp-controller="TreinoTemplate" asp-action="Index" id="btn-add">Treinos Template</a>
            </div>
        </div>
        <div class="top">
            <div class="input-block">
                <a type="button" asp-controller="Treino" asp-action="Index" id="btn-add">Meus Treinos</a>
            </div>
        </div>
        <div class="top">
            <div class="input-block">
                <a type="button" asp-controller="" asp-action="Index" id="btn-add">Meus Resultados</a>
            </div>
        </div>

    </main>
</div>

